$item-grid-width: (72px * 10) + 32px;

:host {
  display: grid;

  gap: 24px;
  grid-auto-flow: row;

  grid-template-areas:
    "g"
    "r";

  @media only screen and (min-width: 1425px) {
    &.has-unknown-recipes {
      grid-template-areas: "g r";
      grid-template-columns: auto 1fr;
    }
  }

  width: 100%;

  justify-content: center;

  overflow: auto;

  mat-card {
    display: flex;
    flex-flow: column nowrap;

    mat-card-content {
      flex-grow: 1;
    }
  }

  .grid {
    grid-area: g;

    min-width: 64px + 32px;
    max-width: 100%;
    height: max-content;

    app-item-grid {
      min-width: 64px;
      max-width: 64px * 10 + 8px * 9;
      height: max-content;
    }
  }

  .recipes {
    grid-area: r;

    height: max-content;

    table {
      width: 100%;

      app-item-button {
        width: 32px;
        height: 32px;

        margin-right: 8px;
      }
    }
  }

  mat-card mat-card-title {
    margin-bottom: 16px;
  }
}
