<h1 class="mat-h1">Dashboard</h1>
<div id="container" *ngIf="save.currentDay">
  <mat-card class="birthdays">
    <mat-card-header>
      <mat-card-title>Birthdays</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="upcomingBirthdays">
        <ng-container matColumnDef="villager">
          <th mat-header-cell *matHeaderCellDef>Villager</th>
          <td mat-cell *matCellDef="let birthday">{{ birthday.villager }}</td>
        </ng-container>
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let birthday">{{ birthday.day }}</td>
        </ng-container>
        <ng-container matColumnDef="bestGifts">
          <th mat-header-cell *matHeaderCellDef>Best Gifts</th>
          <td mat-cell *matCellDef="let birthday" class="best-gifts">
            <app-item-button
              *ngFor="let item of birthday.bestGifts"
              [item]="item"
            ></app-item-button>
          </td>
        </ng-container>
        <ng-container matColumnDef="hearts">
          <th mat-header-cell *matHeaderCellDef>Hearts</th>
          <td mat-cell *matCellDef="let birthday">
            <ul class="hearts">
              <img
                *ngFor="
                  let i of range(save.relationships.get(birthday.villager)?.maxHearts || 10, 1)
                "
                src="assets/heart-{{
                  save.relationships.get(birthday.villager)?.hearts >= i
                    ? 'filled'
                    : 'outline'
                }}.png"
              />
            </ul>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['villager', 'hearts', 'day', 'bestGifts']"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['villager', 'hearts', 'day', 'bestGifts']
          "
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>

  <mat-card class="seasonal">
    <mat-card-header>
      <mat-card-title>{{ seasonNames.get(save.currentSeason) }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="seasonal-items">
        <app-item-button *ngFor="let item of seasonalItems" [item]="item" padding></app-item-button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
