:host {
  display: block;
}

#container {
  display: grid;
  gap: 24px;
  grid-template:
    "b"
    "s";

  @media only screen and (min-width: 1000px) {
    grid-template:
      "b s"
      "b .";
  }

  .seasonal {
    max-width: fit-content;
    grid-area: s;
  }

  .birthdays {
    display: flex;
    flex-flow: column nowrap;

    min-width: 704px;
    min-height: 100%;

    grid-area: b;

    mat-card-content {
      flex-grow: 1;
    }

    table {
      width: 100%;
    }

    td {
      padding-right: 24px;
    }

    app-item-button {
      width: 32px;
      height: 32px;
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
