:host {
  display: block;
}

#container {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "b"
    "s";

  @media only screen and (min-width: 1250px) {
    grid-template-areas: "b s";
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: min-content;
  }

  .seasonal {
    display: flex;
    flex-flow: column nowrap;

    grid-area: s;

    mat-card-content {
      flex-grow: 1;
    }

    .seasonal-items {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 64px;
      grid-template-columns: repeat(auto-fill, 64px);
      gap: 8px;

      @media only screen and (min-width: 1250px) {
        grid-template-columns: repeat(2, 64px);
      }

      app-item-button {
        width: 64px;
        height: 64px;
      }
    }
  }

  .birthdays {
    display: flex;
    flex-flow: column nowrap;

    height: max-content;

    grid-area: b;

    mat-card-content {
      flex-grow: 1;
    }

    table {
      width: 100%;
    }

    td {
      padding-right: 24px;
    }

    app-item-button {
      width: 32px;
      height: 32px;
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .hearts {
      display: flex;
      align-content: center;

      margin: 0;
      padding: 0;

      img {
        margin-right: 2px;
      }
    }
  }
}
