:host {
  display: block;
}

#container {
  display: grid;
  gap: 16px;
  grid-template: "s s .";

  @media only screen and (min-width: 1000px) {
    grid-template: "s .";
  }

  .seasonal {
    max-width: fit-content;
    grid-area: s;

    app-item-button {
      width: 32px;
      margin: 8px 8px 8px 0;
    }

    .season-img {
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}
