<nav>
  <a mat-icon-button routerLink="dashboard">
    <mat-icon>dashboard</mat-icon>
  </a>
  <mat-divider></mat-divider>
  <a mat-icon-button routerLink="shipping"><img src="assets/shipping.png"></a>
  <a mat-icon-button routerLink="fish"><img src="assets/fish.png"></a>
  <a mat-icon-button routerLink="artifacts"><img src="assets/artifacts.png"></a>
  <a mat-icon-button routerLink="minerals"><img src="assets/minerals.png"></a>
  <a mat-icon-button routerLink="cooking" style="margin-bottom: auto;"><img src="assets/cooking.png"></a>

  <button mat-icon-button (click)="input.click()">
    <mat-icon>folder</mat-icon>
    <input #input type="file">
  </button>
</nav>
<mat-divider class="edge" [vertical]="true"></mat-divider>