:host {
  display: block;

  width: 100%;
  height: 100%;

  overflow: auto;

  mat-card {
    width: 64px * 10 + 32px;
    height: fit-content;
    margin: auto;

    mat-card-title {
      margin-bottom: 16px;
    }
  }
}
