:host {
  display: block;
  
  #grid-container {
    display: grid;
    grid-template-columns: repeat(10, 48px);
    gap: 16px;
  
    width: fit-content;
    height: fit-content;
    margin: auto
  }
}
