:host {
  display: flex;
  justify-content: center;
  height: 100%;
  
  overflow-y: auto;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 48px);
    gap: 16px;

    height: fit-content;
    margin: 16px auto;
  }
}
