<h1 mat-dialog-title>Select Save File</h1>
<mat-dialog-content>
  <div *ngIf="!saveService.isElectron">
    <p>
      Please select your save file. On {{ platformName }}, this is typically
      located at <code>{{ path }}</code
      >.
    </p>
    <p *ngIf="windows">
      Paste <code>{{ basePath }}</code> into the address bar at the top of
      Explorer and press <kbd>Enter</kbd> to navigate to <code>Saves</code>.
    </p>
    <p *ngIf="platform.toLowerCase().includes('mac')">
      Press <kbd>⌘</kbd> + <kbd>⇧</kbd> + <kbd>G</kbd> to open Go To Folder and
      paste <code>{{ basePath }}</code> into it, then press <kbd>Enter</kbd> to
      navigate to <code>Saves</code>.
    </p>
    <p *ngIf="windows || platform.toLowerCase().includes('mac')">
      Then navigate to your chosen save file and choose
      <code>SaveGameInfo</code>.
    </p>
  </div>
  <mat-selection-list [multiple]="false" *ngIf="saveService.isElectron">
    <mat-list-option
      [value]="save"
      [selected]="deepEquals(save, saveService.currentSave)"
      *ngFor="let save of saves | async"
    >
      {{ save.name }}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!saveService.isElectron">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="copyPath()">Copy path</button>
  <button mat-button (click)="fileInput.click()">Choose file</button>
  <input #fileInput type="file" />
</mat-dialog-actions>
