header {
  * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  img {
    image-rendering: pixelated;
  }

  h1 {
    margin-left: 8px;
  }

  #buttons {
    float: right;
    margin: -19px -14px 0px 32px;
    vertical-align: top;
  }
}

mat-dialog-content {
  display: grid;
  gap: 16px;
  grid-auto-columns: repeat(max(2), auto);

  overflow: visible;

  mat-card {    
    mat-card-subtitle {
      margin: 8px 0 0;
    }
  
    ul {
      margin: 0;
      padding: 0;
      list-style-position: inside;
    }

    &.seasons {
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          img {
            position: relative;
            top: 3px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
