:host {
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;

  header {
    margin-bottom: 16px;
    
    * {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

    img {
      image-rendering: pixelated;
      // filter: drop-shadow(-3px 3px 0px rgba(0,0,0,0.3));
    }

    h1 {
      margin-left: 8px;
    }
  }
}