<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport attr.role="navigation" mode="side" [opened]="true">
    <div id="list-container">
      <mat-nav-list>
        <a mat-icon-button routerLink="dashboard">
          <mat-icon matListIcon>dashboard</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <a mat-icon-button [routerLink]="page"
          *ngFor="let page of ['shipping', 'fish', 'artifacts', 'minerals', 'cooking']">
          <img matListAvatar src="{{'assets/' + page + '.png'}}" alt="{{page}}">
        </a>
      </mat-nav-list>

      <mat-action-list>
        <button mat-icon-button (click)="input.click()">
          <mat-icon matListIcon>folder</mat-icon>
          <input #input type="file">
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)" (@routeAnimations.start)="onRoutingStart($event)" (@routeAnimations.done)="onRoutingDone($event)">
    <img id="animation-img">
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>