mat-sidenav-container {
  height: 100%;

  #list-container {
    display: flex;
    flex-direction: column;

    width: 56px;
    height: 100%;

    mat-nav-list {
      text-align: center;

      padding: 8px 0;

      button {
        width: 48px;
        height: 48px;
        margin: 4px;

        transition: background-color 100ms linear;

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }

        img {
          image-rendering: pixelated;
        }

        input {
          visibility: hidden;
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
        }
      }

      a {
        @extend button;

        padding-top: 4px;
      }

      mat-divider {
        margin: 8px;
      }
    }

    mat-action-list {
      @extend mat-nav-list;

      margin-top: auto;
    }
  }

  #route-container {
    width: 100%;
    height: 100%;

    router-outlet + ::ng-deep * {
      padding: 20px;
    }
  }
}
