:host {
  display: block;
}

mat-card {
  width: fit-content;
  height: fit-content;
}

td.mat-cell:not(:last-of-type) {
  padding-right: 24px;
}

.hearts {
  display: flex;
  align-content: center;

  margin: 0;
  padding: 0;

  img {
    margin-right: 2px;
  }
}

.best-gifts app-item-button {
  width: 32px;
  height: 32px;

  margin-right: 8px;
}
