a {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;

  width: 48px;
  height: 48px;
  padding: 0;
  text-align: center;
  vertical-align: middle;

  &:hover {
    img {
      $hover-scale: 52 / 48;
      transform: scale($hover-scale);
    }
  }

  img {
    display: block;
    
    image-rendering: pixelated;
    filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 0.3));
    transition: all 0.1s ease;

    user-select: none;
  }
}
