:host {
  display: inline-block;
  
  button {
    display: inherit;
    background-color: transparent;
    border: none;
    outline: none;

    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  
    &:hover {
      img {
        $hover-scale: 52 / 48;
        transform: scale($hover-scale);
      }
    }
  
    img {
      display: block;
      
      width: 100%;
      
      image-rendering: pixelated;
      transition: all 0.1s ease;
  
      user-select: none;
    }
  
    .grey {
      filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3)) saturate(0) brightness(0.7);
    }
  }

  &.shadow {
    img {
      filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 0.3));

      &.grey:hover {
        filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 0.3));
      }
    }
  }
}
